################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StarFighter/v14
/packages
/StarFighter/bin
/StarFighter/obj/Debug
/StarFighter/obj/Windows
/StarFighter/Content
/StarFighter/Resources/small_explosion_f3.png~
/StarFighter/Resources/small_explosion_f2.png~
/StarFighter/Resources/small_explosion_f1.png~
/StarFighter/Assets
