################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StarFighter/v14
/packages
/StarFighter/bin
/StarFighter/obj/Debug
/StarFighter/obj/Windows
/StarFighter/Content
